
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Sticher</h2>

<br>
<br>
<p> Please Enter your name:</p>
<input type="text" id="name">
<br>
<br>
<p> Please Select what type of user you are</p>
<br>
<input type="radio" id="homeOwner" name="userType" value="homeOwner">
<label for="male">Home Owner</label>
<br>
<input type="radio" id="designer" name="userType" value="designer">
<label for="designer">Interior Designer</label>
<br>
<input type="radio" id="store" name="userType" value="store">
<label for="store">Retail Store</label>
<br>
<a href="~/Home/SpaceQuery">Next</a>


