
@{
    ViewBag.Title = "SpaceQuery";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SpaceQuery</title>
</head>
<body>
    <div>
        <p> Please Select what type of living space you are interested in</p>
        <br>
        <input type="radio" id="livingRoom" name="space" value="livingRoom">
        <label for="livingRoom">Lining Room</label>
        <br>
        <input type="radio" id="kitchen" name="space" value="kitchen">
        <label for="kitchen">Kitchen</label>
        <br>
        <input type="radio" id="bedRoom" name="space" value="bedRoom">
        <label for="bedRoom">Bed Room</label>
        <br>
        <a href="~/Home/LifestyleImages">Next</a>
    </div>
</body>
</html>
