
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sticher</title>
</head>
<body>
    <div>
        <p>Please select the most relevent Picture</p>
        <img src="~/Views/Home/Images/Interior Design/backsplash motivational monday.jpg" alt="Sample Photo" />
    </div>
</body>
</html>
