@model List<WebApplication3.Models.Image>

@{
    ViewBag.Title = "Test";
}

    <html>
    <head>
        <title></title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var image in Model)
                {
                    <tr>
                        <td>
                            @image.ImageUrl
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
    </html>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
